*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:
linear-gradient(
135deg,
#0f172a,
#1e293b,
#334155);
}

.login-box{

width:400px;

background:white;

padding:40px;

border-radius:15px;
}

input{

width:100%;

padding:15px;

margin-bottom:15px;

border:1px solid #ddd;

border-radius:10px;
}

button{

width:100%;

padding:15px;

border:none;

background:#2563eb;

color:white;

border-radius:10px;

cursor:pointer;
}